# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Publish outputs
publish/

# Rider / JetBrains IDE
.idea/

# Backup and cache
*.bak
*.cache
*.config

